* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
.clearfix {
    clear: both;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
body{
    background-color: whitesmoke;
}
.header {
    background-image: url(../images/dulichh.jpg); 
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: top;
}
h2{
    font-size: 1.5rem;
    font-weight: normal;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
a:hover {
    opacity: 0.7;
}
.head-logo, .menu_bar, .menu, .list, .main{
    display: flex;
}
.logo{
    width: 30px;
    margin-right: 30px;
}
.menu{
    padding: 15px 70px;
    justify-content: space-between;
    border-bottom:1px solid white;
}
.hotline{
    color: rgba(252, 251, 251, 0.938);
}
.menu_bar a{
    color: rgba(252, 251, 251, 0.938);
    margin-right: 20px;
}
.list{
    justify-content: center;
}
.list a{
    font-size: 1.2rem;
    color: white;
    margin: 50px 50px;
}
.main{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    justify-content: center;
    color: whitesmoke;
    font-size: 2.2rem;
    margin-top: 50px;
}
.logo , .hotline, .menu_bar a, .list a, .main, .menu{
    position: relative;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 650px;
}
.header{
    position: relative;
}
.container-head{
    position: absolute;
    background-color: white;
    top: 450px;
    right: 0;
    left: 0;
}
.imagess img{
 width: 100%;
 height: 250px;
}
.imagess{
    position: relative; 
}
.overlay_wrapper{
    position: absolute;
    top:  0;
    width: 100%;
    height: 250px;
    background: linear-gradient(to  bottom, rgba(206, 206, 206, 0.062), rgba(0,0,0));
}
.container-head h1{
 font-size: 1.5rem;
 margin-left: 20px;
}
.wrapper-head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    padding: 18px;
}
.title{
    font-size: 1.3rem;
    position: absolute;
    bottom: 70px;
    color: white;
    padding-left: 20px;
 }
 .time, .time-t{
    position: absolute;
    bottom: 40px;
    color: #858585;
    font-size: 20px;
    padding-left: 20px;
 }
 .time-t{
    left: 90px;
    color: #D7D7D7;
 }
 .travel, .time-tr{
    position: absolute;
    bottom: 15px;
    color: #858585;
    font-size: 20px;
    padding-left: 20px;
 }
 .time-tr{
    left: 100px;
    color: #D7D7D7;
 }
 .dashed{
    border: none;
    border-top: 1px dashed #E8E8E8;
 }
 .information{
    margin-top: 200px;
    display: grid;
    grid-template-columns:3fr 2fr;
 }
 .information-head{
    margin-top: 40px;
    display: flex;
 }
 .icon {
    width: 90px;
    height: 70px;
 }
.fa-thumbs-up, .fa-gear, .fa-gift, .fa-heart{
    font-size: 50px;
    padding-left: 30px;
}
.bold{
    font-weight: bold;
    padding: 0 0 10px 30px;
    font-size: 22px;
    display: block;
    color: black;
    font-weight: bold;
    position: relative;
}
.bold:before {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 20px;
    width: 0;
    height: 3px;
    background-color:#FFD11B;
    transition: .25s;
    z-index: -1;
  }
 .bold:hover:before {
    width: 280px;
    left: 30px;
    right: auto;
  }
.normal{
    font-size: 18px;
    padding: 0 0 10px 30px;
}
.information-image img{
    width: 800px;
    height: 650px;
}
.container-mid{
    position: absolute;
   left: 0;
   right: 0;
}
.headlist{
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
}
.headlist::after{
    content: "";
    border-bottom: 2px dashed #bebdbd;
    width: 66%;
    height: 1px;
    position: absolute;
    margin-top: 25px;
    margin-left: 200px;
}
.continue{
    font-size: 1.1rem;
    margin-top: 8px;
    color: #858585;
}
.wrapper-mid{
    display: grid;
    grid-template-columns: 455px 455px 449px;
    grid-area: 5px;
    padding: 30px;
    background-color: #EEEEEE;
}
.images{
    background-color: white;
    width: 435px;
    height: 525px;
}
.images img{
    position: relative;
    width: 100%;
    height: 320px;
}
.t-title{
    margin: 18px;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
}
.t-time, .tt, .t-travel, .kh, .t-cost {
    position: absolute;
    padding-left: 20px;
}
.t-time, .t-travel, .t-cost{
    color: #858585;
}
.tt, .kh{
    color: black;
    font-weight: bold;
}
.t-time, .tt{
bottom: 150px;
}
.t-travel, .kh{
bottom: 115px;
}
.t-cost{
    bottom: 70px;
}
.tt, .kh{
    padding-left: 118px;
}
.container-mid{
    position: relative;
}
.container-midd{
    position: absolute;
    left: 0;
    right: 0;
    margin-top:50px;
}
.container-midd{
    position: relative;
}
.attractions{
    position: absolute;
    right: 0;
    left: 0;
}
.like{
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;;
}
.like::after{
    content: "";
    border-bottom: 2px dashed #bebdbd;
    width: 67%;
    height: 1px;
    position: absolute;
    margin-top: 25px;
    margin-left: 220px;
}
.like-continue{
    margin-top: 7px;
    font-size: 1.1rem;
    margin-left: 200px;
    color: #858585;
}
.attractions-pict{
    width: 100%;
    display: flex;
    justify-content: center;
}
.picture img{
  width: 100%;
  height: 500px;
}
.picture{
    position: relative;
}
.list-t{
    display: flex;
}
.list-tour{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 20px;
}
.fa-location-pin{
    margin-right: 10px;
}
.locate{
    color: white;
}
.tour{
    color: white;
}
.overlay-attract{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(to  bottom, rgba(206, 206, 206, 0.062), rgba(0,0,0));
}
.attractions{
    position: relative;
}
.container-news{
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 50px;
}
.news, .video{
    margin-bottom: 30px;
}
.news-title{
    display: flex;
    justify-content: space-between;
}
.news-title::after{
    content: "";
    border-bottom: 2px dashed #bebdbd;
    width: 42%;
    height: 1px;
    position: absolute;
    margin-top: 25px;
    margin-left: 240px;
}
.news-continue{
    margin-top: 8px;
    font-size: 1.1rem;
    color: #858585;
}
.update{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:20px;
}
.news-update img{
    width: 130px;
    height: 100px;
}
.item{
    display: flex;
    margin: 20px 20px 30px 0;
}
.content-1, .content-2{
    margin-left: 20px;
}
.content-1 a{
    font-size: 1.2rem;
    color: #000;
}
.content-2 a{
    color:#858585;
}
.content-2{
    margin-top: 20px;
}
.dash{
    width: 430px;

}
.item-hr{
    border-style: dashed;
    color: #E8E8E8;
}
.video{
    margin-left:40px;
}
.video h2{
    margin-bottom: 20px;
}
.video video{
    margin-top: 20px;
    width: 100%;
    height:300px;
}
.container-news{
    position: relative;
}
.footer{
    position: absolute;
    width: 100%;
    height: 520px;
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 90px;
}
.overlay-foot{
    position: absolute;
    width: 100%;
    height: 520px;
    background-color: rgba(0, 0, 0, 0.8);
}
.footer-head{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 30px;
    
}
.foot-title{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.list-foot a{
    color:#858585;
}
.list-foot{
    margin-bottom: 10px;
}
.listt{
    margin-left: -130px;
}
.inform:hover,.inform-face:hover{
    color: whitesmoke;
    font-weight: bold;
}
.link{
    border-left: 1px solid white;
    height: 30px; 
}
.inform-face{
    color: #363535e7;
   padding-left: 30px;
   font-size: 1.2rem;
   font-style: oblique;
}
.footer-foot{
    position: absolute;
    border-top: 1px solid #858585 ;
    width: 100%;
    color: white;
    padding-top: 40px;
}
.foot{
    display: flex;   
}
.copyright{
    color: #858585;
    margin-right: 10px;
}
.container-news{
    position: relative;
}
.ovlay{
    background-color: #e0dddd;
    position: absolute;
    width: 100%;
    height: 10px;
    z-index: -1;
    padding-bottom: 90px;    
    margin-top: 40px;
}
.container-form{
    position: absolute;
    background-color: #1E88E5;  
    left: 0;
    right: 0;
    margin-top: 40px;
}

.tutal{
    color: white;
    margin: 30px 0 30px 0;
}
form{
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
}
.tutal1{
    font-size: 1.4rem;
}
.tutal2{
    font-size: 0.9rem;
    margin-top: 10px;
}
.button{
    display: flex;
}
input{
    width: 240px;
    height: 40px;
    margin:40px 2px 0 10px;
}
button{
    padding: 0 40px;
    background-color: #E5B700;
    color: white;
    height: 40px;
    margin:40px 20px 0 10px;
}
input{
    padding-left:30px;
}